body {
    font-family: futura;
    margin: 0;
    padding: 0 auto;
}

#container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    width: 100%;
    height: 100%;
    background: linear-gradient(70deg, blue, pink);
}




.divauto {
    color: white;
    font-size: 170%;
    font-family: futura;
    display: flex;
    justify-content: center;
    width: 100%;
    height: auto;
    -webkit-animation: fadein 3s;
}



#questZone {
    text-align: center;
    font-size: 75%;
    width: 65%;
    border-style: none;
    border-radius: 45px;
    height: 35px;
    -webkit-animation: fadein 4s;
    
}

@-webkit-keyframes fadein { /* sur Safari et Chrome */
    0% {
        opacity:0;
    }
    100% {
        opacity:1;
    }
    

    
}



#buttonQuest {
    color: white;
    font-family: futura;
    font-size: 75%;
    width: 10%;
    border-color: white;
    border-style: solid;
    border-width: medium;
    border-radius: 45px;
    background: none;
}

#nbCaract {
    
    font-size: 75%;
    -webkit-animation: fadein 5s;
}
